.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App__header {
  width: 100%;
  background-color: rgb(201, 211, 211);
  display: flex;
  justify-content: space-around;
}
.App__headerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App__headerButtons > button {
  width: 10vw;
  margin: 10px;
  border: none;
}
